.bar--absolute {
	@include media($sm...) {
		position: absolute;
		z-index:2;
		width: 100%;
	}
	@include media($xs) {
		position: absolute;
		z-index:2;
		width: 100%;
	}
}
#top-menu {
	height: 3em;
	* {
		color: $color-white;
	}
	.bar__module {
		@include media($xs){
			margin-bottom: 0;
		}
	}
	.menu-horizontal {
		&.left {
			li {

				&:not(:last-child) {
					border-right:1px solid $color-white;
					min-width: 19em;
					@include media($xs){
						min-width: 10em;
					}
				}
			}
		}
		li {
			padding:0.92857143em 0;
			&:not(:hover) a {
				opacity: 1;
			}	
			a {

				font-family: $font-paragraph;
			}
		}
	}

}
.menu-horizontal > li, .menu-vertical > li {
	font-family: $font-title;
}
.notification.side-menu {
	width: 100%;
	.menu-vertical li {
		a {
			color: $color-white;
			font-weight: 600;
		}
		&:not(:last-child){
			margin-bottom: 1em;
		}
	}
	.menu-horizontal li a {
		color: $color-white;
	}
	&.cart-menu {
		width: 40%;
		@include media($xs){
			width: 100%;
		}
		padding-top:0;
		.cart-title {
			top: 0px;
		    bottom: 0px;
		    left: 0px;
		    right: 0px;
		    z-index:1;
		    * {
		    	font-weight:600;
		    }

		}
		.side-menu__module {
			&.top{
				background: #FDF8F5;
				padding: 1.78571429em;
			}
		}
		.notification-close-cross {
			display: none !important;
		}
		.menu-back-btn {
			display: flex;
			justify-content: center;
			margin-left: 20px;
			background: $color-white;
			align-items: center;
			top: 25px;
			left: 25px;
			min-width: 40px;
			min-height: 40px;
			border-radius: 50px;
			border: 2px solid #ead6ca;
			z-index: 2;
			cursor: pointer;
			i {
				font-weight: 600;
				font-size: 1.6em;
			}
		}

		
	}

	
}
.cart-section {
	padding: 0 !important;
	.h-100 {
		height: 100%;
	}
	.border-top-list {
		border-top: 1px solid #eee;
	}
	.cart-item-title {
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 0 !important;
	}
	.cart-item-author {
		font-size: 14px;
		font-weight: 400;

	}
	.cart-img {
		max-width: 120px;
	    // height: 120px;
	    width: 60%;
	}
	.quantity.type--fine-print {
		font-weight: 400;
		font-size: 13px;
	}
}




.bar-1 {
	.menu-horizontal {
		> li > a {
			text-transform: capitalize;
			font-size: 16px;
			color: $color-blue;
			opacity: 1;
			font-family: $font-paragraph;
			font-weight:500;
			&:hover {
				color: $color-orange !important;
			} 
			
		}
		li {
			&:not(:last-child){
				margin-right: 2em;
			}
		}
		

	}

}

.bar {
	.logo {
		max-height: 4em;
	}
	@include media($xs){
		padding: 0.5em 0;
	}


	.menu-horizontal {
		top:0;
	}
	
	.menu-toggle {
		box-shadow: none;
	}
	
}
.v-align-middle {
	vertical-align: middle;
}
.menu-vertical li:not(:hover):not(.dropdown--active) {
	opacity: 1;
}

li.active {
	a {
		color: $color-orange !important;
	}
}
