@import 'app';

#other-donate {
	&.space--md {
		padding-bottom: 2em;
	}
	.border--round {
		border-radius: 43px;
	}
}

.project-slider {
	.flickity-viewport {
		.project-thumb {
			height: 350px !important;

		}

	}
	.hover-element .hover-element__reveal{
		top: initial;
		bottom:0;
		.project-thumb__title {
			height: 100%;
		    display: flex;
		    align-items: initial;
		    text-align: left;
		    padding-top: 4em;
		}
	}
	.flickity-prev-next-button{
		&.next,
		&.previous{
			bottom: -2em;
		}
		&:before{

			color: $color-black !important;
		}
	}

}

.feature-books {
	.feature {
		margin-bottom: 20px;
		img {
			margin-bottom: 2em;
		}
	}
	.author-name {
		color: #666666;
	}

}

.list-of-book{
	padding-top:2em !important;
	
	.book.feature {
		h4 {
			margin-bottom: 1em;
			font-weight: 600;
		}
		.seemore {
			display: none;
			position:absolute;
			 -webkit-transition: ease-in-out 1s;
			transition: ease-in-out 1s;
			span {
				font-size: 0.8em;
				font-weight: 600;
			}
		}
		&:hover {
			.seemore {
				display: flex;
				background: rgba(223, 243, 77, 0.91);
			    left: 0px;
			    right: 0px;
			    bottom: 0px;
			    z-index: 2;
			    text-decoration: none;
			   
			}
		}
	}
	.btn {
		padding-left:1em;
		padding-right:1em;
	
		.btn--bordered-blue {
			// Animating from the bottom

			-webkit-transition: 0.25s;
			transition: 0.25s;
			&:hover,
			&:focus {
			  box-shadow: inset 0 -3.25em 0 0 var(--hover);

			}
		}
	}
	label {
		&.label--primary {
			background: $color-blue;
			font-size: 0.7em;
			left: 3em;
			right: initial;
		}
	}
	
	.z-2 {
		z-index: 2;
	}

}

