@import 'app';
#donate-banner {
	&.cover-features .row:nth-child(2) {
		margin-top: 4.14285714em !important;
	}
	a:hover {
		text-decoration: none;
	}
	.boxes {
		margin-top: 0 !important; 
		.box-1 {
			padding-top: 6em;
			padding-bottom: 6em;
		}
	}
	@include media($xs){
		padding-bottom: 10em;
	}
	.img-hero {
		@include media($xs){
			width: 80%;
		}
	}
	.pos-vertical-center {
		@include media($xs) {
			top: 0;
		    transform: translateY(10%);
		    -webkit-transform: translateY(10%);
		}
	}
	.modal-instance {
		display: block;
	}

}

.star-blue {
	position: absolute;
	&.left {
		top:2em;
		left:0;
		-webkit-animation: twinkle-1 2s infinite  alternate;
		animation: twinkle-1 2s infinite  alternate;
		@include media($xs) {
			left:3em;
		}
		&.top {
			top: -3em;
			left: 12em;
			@include media($xs){
				left: 5em;
			}
		}
	}
	&.right {
		right: 15em;
		top:2em;
		-webkit-animation: twinkle-1 2.5s infinite  alternate;
		animation: twinkle-1 2.5s infinite  alternate;
		@include media($xs) {
			right:3em;
		}
		&.top {
			top: 7em;
			right: 10em;
			@include media($xs){
				top: 3em;
				right: 5em;
			}

		}
	}
}
.star-yellow {
	position:absolute;
	&.right {
		right: 2em;
		top:11em;
		-webkit-animation: twinkle-1 2s infinite  alternate;
		animation: twinkle-1 2s infinite  alternate;
		&.bottom {
			top: initial;
			bottom: -2em;
			left: 15em;
		}
	}
	&.left {
		left: 7em;
		bottom:-2em;
		z-index: 1;
		-webkit-animation: twinkle-1 1s infinite  alternate;
		animation: twinkle-1 1s infinite  alternate;
		&.bottom {
			 bottom: -3em;
		}
	}
}


.cloud {
	position:absolute;
	&.left {
		top:2em;
		left: 3em;
		-webkit-animation: mover-3 9s infinite  alternate;
  		animation: mover-3 9s infinite  alternate;
  		@include media($xs){
  			width: 80px;
  		}
  		&-2 {
  			top:7em;
  			z-index: 2;
  			@include media($xs){
  				left: 1em;
  			}
  		}
	}	
	&.left-big {
		bottom:2em;
		left: 4em;
		z-index: 2;
		-webkit-animation: mover-3 5s infinite  alternate;
  		animation: mover-3 5s infinite  alternate;
	}
	&.right {
		top:10em;
		right: 4em;
		z-index: 2;-webkit-animation: mover-4 7s infinite  alternate;
  		animation: mover-4 7s infinite  alternate;
  		@include media($xs){
  			width: 80px;
  			top:3em;
  		}
	}
	&.line {
		bottom: 5em;
		right: 2em;
		-webkit-animation: mover-3 5s infinite  alternate;
  		animation: mover-3 5s infinite  alternate;
  		@include media($xs){
  			right: 1em;
  			width: 40%;
  		}
	}
	&.line-bot {
		bottom: 3em;
		right: 5em;
		-webkit-animation: mover-4 5s infinite  alternate;
  		animation: mover-4 5s infinite  alternate;
  		
  		@include media($xs){
  			width: 55%;
  		}
	}
}

.svg-box {
	position:absolute;
	&.first {
		top:6em;
		left:-2em;
		-webkit-animation: mover 1s infinite  alternate;
  		animation: mover 1s infinite  alternate;
  		@include media($sm...){
  			width: 220px;
  			top:6em;
			left:12em;
  		}
  		@include media($xs) {
  			width: 170px;
  			top: 2em;
  			left:2em;
  		}
	}
	&.second {
		top:8em;
		right:3em;
		-webkit-animation: mover-2 1s infinite  alternate;
  		animation: mover-2 1s infinite  alternate;
  		@include media($sm...){
  			width: 220px;
  			top:6em;
			right:12em;
  		}
  		@include media($xs) {
  			width: 170px;
  			top:3em;
			right:0em;
  		}
	}
	&.left-small {
		bottom: 0em;
		left: -4em;
		@include media($xs){
			width: 40%;
			left: 2em;
		}
	}
}


.man {
	position:absolute;
	left:4em;
	top:2em;
	@include media($xs){
		max-width: 35%;
		left:6em;
	}
}
.envelope{
	position:absolute;
	bottom:0;
	left:-3em;
	@include media($xs){
		left:0;
		bottom:1em;
	}
}
.liquid {
	position:absolute;
	bottom:-1.2em;
	z-index:0;
	left:-2em;
}
.path-step-3 {
	position:absolute;
	left: 3em;
	top:3em;
	@include media($xs){
		width: 80%;
	}
}

.mover {
	-webkit-animation: mover-3 9s infinite  alternate;
  	animation: mover-3 9s infinite  alternate;
}

.wizard > .content {
	min-height: 20em; 
	@include media($xs){
		min-height: 25em; 
	}
}


.height-140 {
	height: 140px;
}
.wizard > .steps > ul > li {
	width: 50%
}

.pos-relative-xs {
	@include media($xs){
		position:relative;
	}
}

.space {
	&--steps {
		padding-bottom: 20em;
	}
}


.line-1 {
	width: 642px;
  	height: 388px;
  	left: 20em;
}
.line-2,
.line-3 {
	width: 650px;
    height: auto;
    left: 19em;
    text-align: center;
    align-items: center;
    top: 82em;
}
.line-path-2,
.line-path-3 {
	height: auto;
}

.steps a {
	&:hover {
		text-decoration: none !important;
	}
	span {
		font-weight: 400;
		color: $color-dark-blue;
	}
	.arrow {
		display: block;
		width: 16px;
		height:16px;

		border-left: 2px solid $color-primary;
		border-bottom: 2px solid $color-primary;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: fall 2s infinite;
		animation: fall 2s infinite;
		opacity: 0;
		box-sizing: border-box;
		&:nth-of-type(1) {
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
		}
		&:nth-of-type(2) {
		  top: 16px;
		  -webkit-animation-delay: .15s;
		  animation-delay: .15s;
		}
		&:nth-of-type(3) {
			top: 32px;
			-webkit-animation-delay: .3s;
			animation-delay: .3s;
		}
	}
}

.anim-up-down {
	-webkit-animation: mover 1s infinite  alternate;
  	animation: mover 1s infinite  alternate;
}
.anim-up-down-2 {
	-webkit-animation: mover-2 1s infinite  alternate;
  	animation: mover-2 1s infinite  alternate;
}

.circle-yellow{
	width: 40%;
	right: 3em !important;
	top:1em;
}
.book-1 {
	width: 45%;
	right: 2em;
	top:3em !important;
}

.anim-box-1 {
	width: 40%;
	top:2em !important;
	right: 3em;
}




@keyframes wave {
  0% {
        transform: translateX(10px) translateY(0px)
    }
    100% {
        transform: translateX(100px) translateY(0px);
    }
}



@-webkit-keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-webkit-keyframes mover {
  0% {
    transform: translateY(-1px); }
  100% {
    transform: translateY(-10px); } 
}

@keyframes mover {
  0% {
	    transform: translateY(-1px); 
	}
  100% {
    transform: translateY(-10px); } 
}
 @keyframes mover-2 {
  	0% {
    	transform: translateY(10px); 
	}	
  	100% {
    	transform: translateY(15px); 
	} 
}

@-webkit-keyframes mover-2 {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(15px); } }

@-webkit-keyframes mover-3 {
  	0% {
    	transform: translateX(-90px); 

	}
  	100% {
    	transform: translateX(-10px); 
	} 
	
}

@keyframes mover-3 {
  	0% {
	    transform: translateX(-90px); 
	}

  	100% {
    	transform: translateX(-10px); 
	}
}

@include media($xs){
	@keyframes mover-3 {
	  	0% {
		    transform: translateX(-30px); 
		}

	  	100% {
	    	transform: translateX(0px); 
		}
	}
	@-webkit-keyframes mover-3{
		0% {
	    	transform: translateX(-30px); 
		}
	  	100% {
	    	transform: translateX(0px); 
		}

	}
}

// ----------
@-webkit-keyframes mover-4 {
	0% {
		transform: translateX(90px);
		
	}
  100% {
    transform: translateX(10px); 
	} 
}

@keyframes mover-4 {
  	0% {
	    transform: translateX(90px); 
	}

  	100% {
    	transform: translateX(10px); 
	} 
}
@include media($xs){
	@keyframes mover-4 {
	  	0% {
		    transform: translateX(30px); 
		}

	  	100% {
	    	transform: translateX(0px); 
		}
	}
	@-webkit-keyframes mover-4{
		0% {
	    	transform: translateX(30px); 
		}
	  	100% {
	    	transform: translateX(0px); 
		}

	}
}

  @keyframes twinkle-1 {
    50% {
      transform: scale(0.6);
      opacity: 0.8;
    }
  }
  @-webkit-keyframes twinkle-1 {
    50% {
      transform: scale(0.6);
      opacity: 0.8;
    }
  }


