@import 'app';

.inner-cover {
	@include media($xs){
		height: auto;
		z-index: 0;
		padding-top: 8em;
	}
}
.our-team {
	.feature-1 {
		border-radius: 0;
		img{
			border-radius:0;
		}
		.feature__body {
			padding:1em;
			border-radius:0;
		}
	}

	
}
.modal-container .modal-content {
	width: 80%;
	.image--rounded {
		height:350px;

		.background-image-holder {
			border-radius: 50%;
			border: 10px solid $color-gold;
			box-shadow: 0 0 20px rgba(0,0,0,0.2)
		}
	}
}
