@import 'app';

// .tabs-of-expertise {

// 	.accordion__title{
// 		border:none !important;
// 		border-top: 1px solid $color-secondary !important;
// 		border-radius:0 !important;
// 		margin-bottom: 0;
// 		span {
// 			font-family: $font-title;
// 			font-size: 1.2em;
// 			color: $color-primary;
// 		}
// 		&:before {
// 			content: 'arrow_forward';
// 			font-family: 'Material Icons';
// 			color: $color-gold;
// 		}
// 	}
// 	li.active {
// 		border-top: 1px solid $color-black-2;
		
// 		.accordion__title {
// 			border-top: 1px solid $color-black-2 !important;
// 			border:none;
// 			border-color: transparent;
// 			background: transparent;

// 			span {
// 				color: $color-primary;
// 			}
// 			&:before {
// 				content: 'arrow_downward';
// 				font-family: 'Material Icons';
// 				color: $color-gold;
// 			}
// 		}
// 		.accordion__content {
// 			padding-left: 2.5em;
// 			padding-right: 1em;
// 			margin-bottom: 3em;
// 		}
		
// 	}
// }
.cover {
	@include media($xs){
		height: auto;
		z-index: 0;
		padding-top: 6em;
	}
	.pos-vertical-center {
		@include media($xs) {
			top:60%;
			transform: translateY(60px);
			-webkit-transform: translateY(60px);
		}
	}


}
.overlay-gold{
	&:before {
		position: absolute;
	    content: '';
	    background: $color-gold;
	    background-blend-mode: multiply;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	   
	}
   
}
.list-of-services {
	.list {
		.list-item {
			font-weight: 600;
			font-size: 1.2em;
			font-family: $font-title;
			border-top: 1px solid #c5c5c5;
			padding: 1em 0.5em;
			color: $color-primary;
			i {
				vertical-align: middle;
				margin-right: 0.5em;
			}
			&:last-child {
				border-bottom: 1px solid #c5c5c5;
			}
		}
	}
}
