#other-donate.space--md {
  padding-bottom: 2em; }

#other-donate .border--round {
  border-radius: 43px; }

.project-slider .flickity-viewport .project-thumb {
  height: 350px !important; }

.project-slider .hover-element .hover-element__reveal {
  top: initial;
  bottom: 0; }
  .project-slider .hover-element .hover-element__reveal .project-thumb__title {
    height: 100%;
    display: flex;
    align-items: initial;
    text-align: left;
    padding-top: 4em; }

.project-slider .flickity-prev-next-button.next, .project-slider .flickity-prev-next-button.previous {
  bottom: -2em; }

.project-slider .flickity-prev-next-button:before {
  color: #000 !important; }

.feature-books .feature {
  margin-bottom: 20px; }
  .feature-books .feature img {
    margin-bottom: 2em; }

.feature-books .author-name {
  color: #666666; }

.list-of-book {
  padding-top: 2em !important; }
  .list-of-book .book.feature h4 {
    margin-bottom: 1em;
    font-weight: 600; }
  .list-of-book .book.feature .seemore {
    display: none;
    position: absolute;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s; }
    .list-of-book .book.feature .seemore span {
      font-size: 0.8em;
      font-weight: 600; }
  .list-of-book .book.feature:hover .seemore {
    display: flex;
    background: rgba(223, 243, 77, 0.91);
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    text-decoration: none; }
  .list-of-book .btn {
    padding-left: 1em;
    padding-right: 1em; }
    .list-of-book .btn .btn--bordered-blue {
      -webkit-transition: 0.25s;
      transition: 0.25s; }
      .list-of-book .btn .btn--bordered-blue:hover, .list-of-book .btn .btn--bordered-blue:focus {
        box-shadow: inset 0 -3.25em 0 0 var(--hover); }
  .list-of-book label.label--primary {
    background: #0032BA;
    font-size: 0.7em;
    left: 3em;
    right: initial; }
  .list-of-book .z-2 {
    z-index: 2; }
