#donate-banner.cover-features .row:nth-child(2) {
  margin-top: 4.14285714em !important; }

#donate-banner a:hover {
  text-decoration: none; }

#donate-banner .boxes {
  margin-top: 0 !important; }
  #donate-banner .boxes .box-1 {
    padding-top: 6em;
    padding-bottom: 6em; }

@media (max-width: 767px) {
  #donate-banner {
    padding-bottom: 10em; } }

@media (max-width: 767px) {
  #donate-banner .img-hero {
    width: 80%; } }

@media (max-width: 767px) {
  #donate-banner .pos-vertical-center {
    top: 0;
    transform: translateY(10%);
    -webkit-transform: translateY(10%); } }

#donate-banner .modal-instance {
  display: block; }

.star-blue {
  position: absolute; }
  .star-blue.left {
    top: 2em;
    left: 0;
    -webkit-animation: twinkle-1 2s infinite  alternate;
    animation: twinkle-1 2s infinite  alternate; }
    @media (max-width: 767px) {
      .star-blue.left {
        left: 3em; } }
    .star-blue.left.top {
      top: -3em;
      left: 12em; }
      @media (max-width: 767px) {
        .star-blue.left.top {
          left: 5em; } }
  .star-blue.right {
    right: 15em;
    top: 2em;
    -webkit-animation: twinkle-1 2.5s infinite  alternate;
    animation: twinkle-1 2.5s infinite  alternate; }
    @media (max-width: 767px) {
      .star-blue.right {
        right: 3em; } }
    .star-blue.right.top {
      top: 7em;
      right: 10em; }
      @media (max-width: 767px) {
        .star-blue.right.top {
          top: 3em;
          right: 5em; } }

.star-yellow {
  position: absolute; }
  .star-yellow.right {
    right: 2em;
    top: 11em;
    -webkit-animation: twinkle-1 2s infinite  alternate;
    animation: twinkle-1 2s infinite  alternate; }
    .star-yellow.right.bottom {
      top: initial;
      bottom: -2em;
      left: 15em; }
  .star-yellow.left {
    left: 7em;
    bottom: -2em;
    z-index: 1;
    -webkit-animation: twinkle-1 1s infinite  alternate;
    animation: twinkle-1 1s infinite  alternate; }
    .star-yellow.left.bottom {
      bottom: -3em; }

.cloud {
  position: absolute; }
  .cloud.left {
    top: 2em;
    left: 3em;
    -webkit-animation: mover-3 9s infinite  alternate;
    animation: mover-3 9s infinite  alternate; }
    @media (max-width: 767px) {
      .cloud.left {
        width: 80px; } }
    .cloud.left-2 {
      top: 7em;
      z-index: 2; }
      @media (max-width: 767px) {
        .cloud.left-2 {
          left: 1em; } }
  .cloud.left-big {
    bottom: 2em;
    left: 4em;
    z-index: 2;
    -webkit-animation: mover-3 5s infinite  alternate;
    animation: mover-3 5s infinite  alternate; }
  .cloud.right {
    top: 10em;
    right: 4em;
    z-index: 2;
    -webkit-animation: mover-4 7s infinite  alternate;
    animation: mover-4 7s infinite  alternate; }
    @media (max-width: 767px) {
      .cloud.right {
        width: 80px;
        top: 3em; } }
  .cloud.line {
    bottom: 5em;
    right: 2em;
    -webkit-animation: mover-3 5s infinite  alternate;
    animation: mover-3 5s infinite  alternate; }
    @media (max-width: 767px) {
      .cloud.line {
        right: 1em;
        width: 40%; } }
  .cloud.line-bot {
    bottom: 3em;
    right: 5em;
    -webkit-animation: mover-4 5s infinite  alternate;
    animation: mover-4 5s infinite  alternate; }
    @media (max-width: 767px) {
      .cloud.line-bot {
        width: 55%; } }

.svg-box {
  position: absolute; }
  .svg-box.first {
    top: 6em;
    left: -2em;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate; }

@media (min-width: 768px) and (max-width: 991px) {
  .svg-box.first {
    width: 220px;
    top: 6em;
    left: 12em; } }
    @media (max-width: 767px) {
      .svg-box.first {
        width: 170px;
        top: 2em;
        left: 2em; } }
  .svg-box.second {
    top: 8em;
    right: 3em;
    -webkit-animation: mover-2 1s infinite  alternate;
    animation: mover-2 1s infinite  alternate; }

@media (min-width: 768px) and (max-width: 991px) {
  .svg-box.second {
    width: 220px;
    top: 6em;
    right: 12em; } }
    @media (max-width: 767px) {
      .svg-box.second {
        width: 170px;
        top: 3em;
        right: 0em; } }
  .svg-box.left-small {
    bottom: 0em;
    left: -4em; }
    @media (max-width: 767px) {
      .svg-box.left-small {
        width: 40%;
        left: 2em; } }

.man {
  position: absolute;
  left: 4em;
  top: 2em; }
  @media (max-width: 767px) {
    .man {
      max-width: 35%;
      left: 6em; } }

.envelope {
  position: absolute;
  bottom: 0;
  left: -3em; }
  @media (max-width: 767px) {
    .envelope {
      left: 0;
      bottom: 1em; } }

.liquid {
  position: absolute;
  bottom: -1.2em;
  z-index: 0;
  left: -2em; }

.path-step-3 {
  position: absolute;
  left: 3em;
  top: 3em; }
  @media (max-width: 767px) {
    .path-step-3 {
      width: 80%; } }

.mover {
  -webkit-animation: mover-3 9s infinite  alternate;
  animation: mover-3 9s infinite  alternate; }

.wizard > .content {
  min-height: 20em; }
  @media (max-width: 767px) {
    .wizard > .content {
      min-height: 25em; } }

.height-140 {
  height: 140px; }

.wizard > .steps > ul > li {
  width: 50%; }

@media (max-width: 767px) {
  .pos-relative-xs {
    position: relative; } }

.space--steps {
  padding-bottom: 20em; }

.line-1 {
  width: 642px;
  height: 388px;
  left: 20em; }

.line-2,
.line-3 {
  width: 650px;
  height: auto;
  left: 19em;
  text-align: center;
  align-items: center;
  top: 82em; }

.line-path-2,
.line-path-3 {
  height: auto; }

.steps a:hover {
  text-decoration: none !important; }

.steps a span {
  font-weight: 400;
  color: #071222; }

.steps a .arrow {
  display: block;
  width: 16px;
  height: 16px;
  border-left: 2px solid #c7c038;
  border-bottom: 2px solid #c7c038;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: fall 2s infinite;
  animation: fall 2s infinite;
  opacity: 0;
  box-sizing: border-box; }
  .steps a .arrow:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .steps a .arrow:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s; }
  .steps a .arrow:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s; }

.anim-up-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate; }

.anim-up-down-2 {
  -webkit-animation: mover-2 1s infinite  alternate;
  animation: mover-2 1s infinite  alternate; }

.circle-yellow {
  width: 40%;
  right: 3em !important;
  top: 1em; }

.book-1 {
  width: 45%;
  right: 2em;
  top: 3em !important; }

.anim-box-1 {
  width: 40%;
  top: 2em !important;
  right: 3em; }

@keyframes wave {
  0% {
    transform: translateX(10px) translateY(0px); }
  100% {
    transform: translateX(100px) translateY(0px); } }

@-webkit-keyframes fall {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fall {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mover {
  0% {
    transform: translateY(-1px); }
  100% {
    transform: translateY(-10px); } }

@keyframes mover {
  0% {
    transform: translateY(-1px); }
  100% {
    transform: translateY(-10px); } }

@keyframes mover-2 {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(15px); } }

@-webkit-keyframes mover-2 {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(15px); } }

@-webkit-keyframes mover-3 {
  0% {
    transform: translateX(-90px); }
  100% {
    transform: translateX(-10px); } }

@keyframes mover-3 {
  0% {
    transform: translateX(-90px); }
  100% {
    transform: translateX(-10px); } }

@media (max-width: 767px) {
  @keyframes mover-3 {
    0% {
      transform: translateX(-30px); }
    100% {
      transform: translateX(0px); } }
  @-webkit-keyframes mover-3 {
    0% {
      transform: translateX(-30px); }
    100% {
      transform: translateX(0px); } } }

@-webkit-keyframes mover-4 {
  0% {
    transform: translateX(90px); }
  100% {
    transform: translateX(10px); } }

@keyframes mover-4 {
  0% {
    transform: translateX(90px); }
  100% {
    transform: translateX(10px); } }

@media (max-width: 767px) {
  @keyframes mover-4 {
    0% {
      transform: translateX(30px); }
    100% {
      transform: translateX(0px); } }
  @-webkit-keyframes mover-4 {
    0% {
      transform: translateX(30px); }
    100% {
      transform: translateX(0px); } } }

@keyframes twinkle-1 {
  50% {
    transform: scale(0.6);
    opacity: 0.8; } }

@-webkit-keyframes twinkle-1 {
  50% {
    transform: scale(0.6);
    opacity: 0.8; } }
